<div id='wm_element'>
    
    {% if gotLight == 0 %}
    <div style="
        display: flex;
        justify-content: center;
        align-items: center;
        width:50px; 
        height:50px; 
        border:2px solid; 
        background-color: #c5c5c5; 
        border-color:#b9b9b9; 
        border-radius:4px;
        text-align:center;
        vertical-align: middle;"> 
        <p class="wm-element-text"><span style="font-family:monospace; color:#868686;">Wm 1</span></p>
    </div>

    {% else %}

    <div style="
        display: flex;
        justify-content: center;
        align-items: center;
        width:50px; 
        height:50px; 
        border:2px solid; 
        background-color: #f5a003; 
        border-color:#f08000; 
        border-radius:4px;
        text-align:center;"> 
        <p class="wm-element-text"><span style="font-family:monospace; color:#2e2e2e;"><b>Wm 1</b></span></p>
    </div>

    {% endif %}

    <p class="updatetime">Last updated at 
        <code style="    
        color: #0090f0;
        font-weight: 300;
        border: 0.1px solid #adadad;
        border-radius: 3px;
        padding: 0.1rem 0.4rem;"
        >{{ update_time }}</code> </p>

</div>
   