<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    {% block morecss %} {% endblock %}
    <title>{% block title %} {% endblock %}</title>
</head>

<body>
    <div class="container">
        <div class="header">
            <a href="{{ url_for('home') }}">Tell me a ...</a>
        </div>
        <div class="options">
            <div class="box" id="quote"><a href="{{ url_for('quote') }}">Quote</a></div>
            <div class="box" id="joke"><a href="{{ url_for('joke') }}">Joke</a></div>
            <div class="box" id="fact"><a href="{{ url_for('fact') }}">Cool Fact</a></div>
            <div class="box" id="misconception"><a href="{{ url_for('misconception') }}">Misconception</a></div>
        </div>   
        <div class="content-container">
            <div class="content">
                {% block content %} {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>