{% extends "base.html" %}
{% block title %}Tell me a quote{% endblock %}
{% block morecss %}
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/quote.css') }}">
{% endblock %}
{% block content %}
<figure class="quote">
    <blockquote>
        “Is it so bad, then, to be misunderstood? Pythagoras was misunderstood, and Socrates, and Jesus, and Luther, and Copernicus, and Galileo, and Newton, and every pure and wise spirit that ever took flesh. To be great is to be misunderstood.” 
    </blockquote>
    <figcaption>
      &mdash; Ralph Waldo Emerson, <cite><a style="color: rgb(12, 83, 177) !important;" href=https://www.goodreads.com/work/quotes/1758578-self-reliance>Self-Reliance</a></cite>
    </figcaption>
</figure>
{% endblock %}