html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}
body {
    background-color: lightblue;
}
.container {
    background-color: lightblue;
    display: block;
    flex-direction: column;
    padding: 10px 10px 10px 10px;
    height: 97vh;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
}

.header {
    background-color: rgb(212, 173, 230);
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    font-size: 50px;
    margin-bottom: 40px;
}
.header:hover
{
    background-color: rgb(216, 150, 247);
}

.options {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin:auto;
}
.box {
    background-color: rgb(100, 233, 88);
    width: 200px;
    max-width: fit-content;
    height: 40px;
    padding: 5px 15px 5px 15px;

    border: solid 0.1em;
    border-color: lightblue;
    text-align: center;

    font-family: 'Noto Sans', sans-serif;
}
.box:hover
{
    background-color: rgb(30, 176, 224);
}

a:link
{
   color: black;
   text-decoration: none;
}
a:visited
{
   color: black;
   text-decoration: none;
}
a:hover
{
   color: black;
   text-decoration: none;
}
a:active
{
   color: black;
   text-decoration: none;
}

.content-container {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    padding-left: 11em;
    padding-right: 11em;
}
.content {
    background-color: rgb(241, 241, 241);
    min-width: 400px;
    max-width: max-content;
    height: max-content;
    margin-top: 50px;
    padding: 2em;
    border-radius: 1em;
    font-family: 'Noto Sans', sans-serif;
}

.quote figcaption,
.quote blockquote {
    margin: 1em;
    font-family: Georgia, serif;
    font-size: medium;
    line-height: 2;
}